.Rproj.user
.Rhistory
.RData
.*.Rnb.cached
_publish.R
_bookdown_files/**
statscomp.aux
statscomp.out
statscomp.fdb_latexmk
statscomp.log
statscomp.toc
statscomp.fls
statscomp.tex
libs/*
_bookdown_files/*
Makefile
statscomp_cache/*
statscomp_files/*
statscomp.Rmd
statscomp.bcf
statscomp.run.xml
textbook/*
*.bak
